* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
}
body {
  height: 100vh;
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-position: top -640px left -370px, bottom -640px right -370px;
  overflow: hidden;
  background-color: hsl(185, 75%, 39%);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.profileCard {
  background-color: white;
  text-align: center;
  border-radius: 10px;
  width: 350px;
  margin: 125px auto;
  box-shadow: 0 2rem 8rem rgba(0, 0, 0, 0.2);
}
.bg-blue {
  border-radius: 10px 10px 0px 0px;
  background-image: url(images/bg-pattern-card.svg);
  height: 134px;
}
.profile-text {
  margin: 20px;
  font-size: 18px;
  color: hsl(0, 0%, 59%);
  line-height: 1.7;
}
hr {
  color: rgba(235, 235, 235, 0.283);
}

span {
  font-weight: 700;
  font-size: 18px;
  color: black;
  padding-right: 6px;
}
.circle {
  align-self: end;
  border-radius: 50%;
  border: 5px rgb(255, 255, 255) solid;
  margin-top: -55px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}
.card_item p {
  color: hsl(0, 0%, 59%);
  margin: 7px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* media query */

/* @media (){

} */
